@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translatey(40px) scale(0.2);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

body {
    background-color: white;
    margin: 0;
    font-family: 'inter', sans-serif;
    height: 100vh;
}
h1 {
    font-weight: 300;
}
p {
    font-weight: lighter;
}


.landing-page {
    height: 100vh;
}

.text-3d-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    display: flex;
}
model-viewer {
  width: 60%;
  height: 80%;
  background-color: transparent;
}

.header {
    position: relative;
    width: fill;
    height: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px 50px 0px 50px;
    
}
.header h1 {
    letter-spacing: 10px;
    font-size: 25px;
}
.header p {
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 5px;
}


.sections {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section {
    position: relative;
    width: fill;
    height: auto;
    padding: 50px 100px 0px 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    animation: fadeUp linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.section-header {
    text-align: center;
    margin: 0;
}
.section-header h1 {
    font-size: 35px;
    letter-spacing: 10px;
}
.section p {
    margin: 0;
    color: black;
    width: 900px;
    text-align: center;
    opacity: 0.7;
}
.cards {
    list-style: none;
    display: flex;
    align-items: center;
}
.cards img:hover {
    transform: scale(1.02);
    transition: ease-in-out;
    transition-duration: 0.3s;
}


.rules {
    position: relative;
    list-style: none;
    display: flex;
    gap: 70px;
}
.rule {
    display: flex;
    flex-direction: column;
    gap: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 20px 1px;
    border-radius: 25px;
    padding: 30px 20px 30px 30px;
}
.rule h1 {
    color: black;
    opacity: 0.2;
    font-weight: bold;
    font-size: 100px;
    margin: 0;
}
.rule p {
    color: rgb(48, 48, 48);
    font-size: 20px;
    width: 240px;
    text-align: left;
    font-weight: normal;
}
.rule:hover {
    transform: scale(1.02);
    transition: ease-in-out;
    transition-duration: 0.3s;
    box-shadow: rgba(23, 135, 209, 0.664) 0px 0px 100px;
}
.rule:hover h1 {
    transition: ease-in-out;
    transition-duration: 0.3s;
    color: rgb(23, 135, 209);
    opacity: 0.4;
}
.rule:hover p {
    transition: ease-in-out;
    transition-duration: 0.3s;
    color: rgb(23, 135, 209);
}


.xml-benefits {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
}
.xml-benefits li {
    width: 220px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: inset rgba(0, 0, 0, 0.4) 0px 0px 20px 2px;
    transition: 0.3s ease-in-out;
    align-items: center;
    display: flex;
    margin: 0;
    color: rgb(48, 48, 48);
}
.xml-benefits li:hover {
    transform: scale(1.05);
    box-shadow: inset rgba(23, 135, 209, 0.6) 0px 0px 60px;
    color: rgb(23, 135, 209);
}


.html-xml-table {
    display: flex;
    gap: 150px;
}
.html-xml-table h2 {
    font-weight: 300;
    letter-spacing: 5px;
}
.box {
    width: 280px;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 20px;
}
.box h2 {
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.box ol {
    list-style: none;
}



.margin {
    width: 50%;
    height: 300px;
}